{% extends 'base.html.twig' %}

{% block title %}Espace sessions{% endblock %}
{% block nav %}
    {{ parent()}}
    <li class=""><a href="{{path('creaSess')}}">Nouvelle session</a></li>
{% endblock %}
{% block body %}
<div class="uk-overflow-auto">
    <table class="uk-table uk-table-hover uk-table-middle uk-table-divider">
        <thead>
            <tr>
                <th class="uk-table-shrink"></th>
                <th class="uk-table-expand">Preserve</th>
                <th class="uk-table-expand">Expand + Link</th>
                <th class="uk-width-small">Truncate</th>
                <th class="uk-table-shrink uk-text-nowrap">Shrink + Nowrap</th>
            </tr>
        </thead>
        <tbody>
            {% for session in sessions %}
                <tr>
                    <!-- <td><input class="uk-checkbox" type="checkbox"></td> -->
                    <td><img class="uk-preserve-width uk-border-circle" src="{{asset('images/avatar.png')}}" width="40" alt=""></td>
                    <td class="uk-table-link">
                        <a class="uk-link-reset" href="">{{session.nomSess}}</a>
                    </td>
                    <td class="uk-text-truncate">
                        <a href="{{path('modifSess',{id:session.id})}}">modifier</a>
                    </td>
                    <td class="uk-text-nowrap">
                        <a href="{{path('delSess',{id:session.id})}}">supprimer</a>
                    </td>
                </tr>                
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
